body {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

#land {
  background: url("../images/land.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  color: #fff;
  border: 1px solid transparent;
  position: relative; }
  #land header {
    margin-top: 3rem; }
    #land header i {
      font-size: 4rem;
      line-height: 4rem; }
    #land header span {
      font-size: 2rem;
      line-height: 4rem;
      position: relative;
      top: -0.5rem;
      left: 1rem;
      font-style: italic; }
  #land .welcome-msg {
    position: absolute;
    top: 60%;
    transform: translateY(-50%); }
    #land .welcome-msg h1 {
      font-size: 4vw;
      font-weight: 300; }
    #land .welcome-msg p {
      font-size: 1vw; }

#intro {
  padding: 4em 0 3em 0;
  color: #717171; }
  #intro p {
    padding: 1em 0; }

#features {
  color: #fff; }
  #features #design-quality {
    background-color: #f5999e; }
  #features #built-to-last {
    background-color: #625f7e; }
  #features #our-clients {
    background: url("../images/features/our-clients.jpg"); }
  #features #signup-see {
    background: url("../images/features/signup.jpg"); }
  #features #perfect-pictures {
    background-color: #82ca9c; }
  #features a {
    color: #FFF;
    margin: 1em 0 2em;
    display: inline-block; }
    #features a i {
      margin-left: 1em; }

#details {
  padding: 4em 0 3em;
  color: #717171; }
  #details h2 {
    margin-bottom: 1em; }

#explore {
  background: url("../images/explore.jpg");
  background-size: cover;
  background-position: 50% 50%;
  color: #fff; }
  #explore .explore-container {
    position: relative;
    height: 100vh; }
    #explore .explore-container .explore-content {
      position: absolute;
      bottom: 4em; }
      #explore .explore-container .explore-content h2 {
        font-size: 4vw; }
      #explore .explore-container .explore-content p {
        margin: 1em 0; }
      #explore .explore-container .explore-content a {
        color: #fff; }
        #explore .explore-container .explore-content a i {
          margin-left: 1em; }

#reasons {
  background-color: #82ca9c;
  color: #fff;
  padding: 4em 0 3em; }
  #reasons h2 {
    font-size: 5rem;
    margin-bottom: 1em; }
  #reasons h4 {
    font-weight: 700;
    font-size: 1em; }

#plans {
  background-color: #f6f7fb;
  padding: 4em 0 3em;
  color: #717171; }
  #plans .plan {
    padding: 4em 3em; }
    #plans .plan .label {
      text-transform: uppercase; }
    #plans .plan h3 {
      font-size: 2.5em; }
    #plans .plan p {
      margin: 1em 0; }
    #plans .plan a.btn {
      background-color: #82ca9c;
      color: #fff;
      border-radius: 4px;
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: 700;
      margin-bottom: 2em; }
    #plans .plan i {
      font-size: 2em;
      margin-right: 0.3em; }
  #plans #solo-plan .label {
    background-color: #717171; }
  #plans #team-plan {
    background-color: #fff;
    box-shadow: 0px 0px 20px #717171; }
    #plans #team-plan .label {
      background-color: #c38cc3; }

/*# sourceMappingURL=app.css.map */
